<!-- 202135973 백지연 -->
<table class="table table-bordered border-primary">
    <thead><td>사용자 id</td><td>사용자 password</td><td>사용자명</td><td>주소</td><td>전화번호</td><td>생일</td><td>클래스</td><td>포인트</td>
    </thead> 
    <%-tableData%>
</table>